---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: vaultwarden
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions:
    - 'missingkey=error'
  generators:
    - clusters:
        selector:
          matchLabels:
            argocd.argoproj.io/secret-type: cluster
        values:
          # renovate: datasource=docker depName=ghcr.io/somerandow/charts/vaultwarden
          targetRevision: "1.7.3"
          namespace: vaultwarden
  template:
    metadata:
      name: 'vaultwarden-{{.name | slugify}}'
      labels:
        app.kubernetes.io/component: argocd-application
        homelab.wojoinc.xyz/app-group: 'sec'
    spec:
      project: default
      sources:
        - repoURL: ghcr.io/somerandow/charts
          targetRevision: '{{.values.targetRevision}}'
          chart: vaultwarden
          helm:
            releaseName: vaultwarden
            valueFiles:
              - $values/argocd/app/vaultwarden/values.yaml
              - $values/argocd/clusters/{{.name}}/vaultwarden/values.yaml
            skipCrds: false
            ignoreMissingValueFiles: true
        - repoURL: 'https://github.com/somerandow/homelab'
          targetRevision: main
          ref: values
        - repoURL: 'https://github.com/somerandow/homelab'
          targetRevision: main
          path: argocd/app/vaultwarden/base
          kustomize:
            components:
              - ../../../clusters/{{.name}}/vaultwarden
      destination:
        server: '{{ .server }}'
        namespace: '{{ .values.namespace }}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: false
        syncOptions:
          - CreateNamespace=true
          - ApplyOutOfSyncOnly=true
          - ServerSideApply=true
          - RespectIgnoreDifferences=true
      ignoreDifferences: []
