---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
resources:
  - cluster.yaml
  - serviceaccount.yaml
  - vaultauth.yaml
  - vaultstaticsecret.yaml
patches:
  - target:
      kind: Grafana
    patch: |-
      apiVersion: grafana.integreatly.org/v1beta1
      kind: Grafana
      metadata:
        name: not-used
      spec:
        deployment:
          spec:
            template:
              spec:
                containers:
                  - name: grafana
                    volumeMounts:
                      - name: db
                        mountPath: /var/run/secrets/vault/db
                        readOnly: true
                volumes:
                  - name: db
                    secret:
                      secretName: grafana-db-app
        config:
          database:
            type: "postgres"
            host: $__file{/var/run/secrets/vault/db/host}
            name: $__file{/var/run/secrets/vault/db/database}
            user: $__file{/var/run/secrets/vault/db/user}
            password: $__file{/var/run/secrets/vault/db/password}
