---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
patches:
  - target:
      kind: Grafana
    patch: |-
      apiVersion: grafana.integreatly.org/v1beta1
      kind: Grafana
      metadata:
        name: not-used
      spec:
        deployment:
          spec:
            template:
              spec:
                containers:
                  - name: grafana
                    volumeMounts:
                      - name: oauth
                        mountPath: /var/run/secrets/static/oauth
                        readOnly: true
                volumes:
                  - name: oauth
                    secret:
                      secretName: grafana-oauth
                      optional: false
