ingress:
  main:
    className: "traefik-external"
    host: "bazarr.wojoinc.xyz"
    forwardAuth:
      enabled: true
      endpoint: oauth2-proxy.oauth2-proxy.svc.homelab.wojoinc.local
persistence:
  config:
    enabled: true
    accessModes:
      - ReadWriteOnce
    className: "rook-rbd-fast"
  media:
    enabled: true
    existingClaim: media
