---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
resources:
  - vaultauth.yaml
  - vaultstaticsecret.yaml
patches:
  - target:
      kind: Deployment
    patch: |-
      - op: replace
        path: /spec/template/spec/volumes/0/persistentVolumeClaim/claimName
        value: media
