---
# Source: arr/templates/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: arr
  labels: {}
  annotations: {}
spec:
  revisionHistoryLimit: 1
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels: {}
  template:
    metadata:
      labels: {}
    spec:
      serviceAccountName: arr
      automountServiceAccountToken: false
      securityContext:
        fsGroup: 568
        runAsGroup: 568
        runAsUser: 568
        supplementalGroups:
          - 997
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      containers:
        - name: main
          image: "placeholder:placeholder"
          imagePullPolicy: IfNotPresent
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: false
          env:
            - name: TZ
              value: America/Chicago
          ports:
            - name: http
              containerPort: 1234
              protocol: TCP
          volumeMounts:
            - name: config
              mountPath: /config
            - name: media
              mountPath: /media
          readinessProbe:
            tcpSocket:
              port: 1234
            initialDelaySeconds: 0
            timeoutSeconds: 1
            periodSeconds: 10
            failureThreshold: 3
            successThreshold: 1
          startupProbe:
            tcpSocket:
              port: 1234
            initialDelaySeconds: 0
            timeoutSeconds: 1
            periodSeconds: 10
            failureThreshold: 3
            successThreshold: 1
          resources:
            limits:
              cpu: "1"
              memory: 1Gi
            requests:
              cpu: 200m
              memory: 100Mi
      volumes:
        - name: config
          emptyDir: {}
        - name: media
          emptyDir: {}
