---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
components:
  - ../../sonarr
replacements:
  # Replace port in relevant fields
  - source:
      kind: ConfigMap
      name: replacement-config
      fieldPath: data.port
    targets:
      - select:
          kind: Deployment
        fieldPaths:
          - .spec.template.spec.containers.[name=main].ports.[name=http].containerPort
          - .spec.template.spec.containers.[name=main].readinessProbe.tcpSocket.port
          - .spec.template.spec.containers.[name=main].startupProbe.tcpSocket.port
      - select:
          kind: Service
        fieldPaths:
          - .spec.ports.[name=http].port
  # Replace resource name in relevant resources
  - source:
      kind: ConfigMap
      name: replacement-config
      fieldPath: data.flavor
    targets:
      - select:
          # This is the most universal way, but may be a bit over-zealous depending
          # on which components are added, and whether they introduce new resources
          # Ideally, those components should include their own replacement logic if needed
          name: arr
        fieldPaths:
          - .metadata.name
      - select:
          kind: Deployment
        fieldPaths:
          - .spec.template.spec.serviceAccountName
resources:
  - deployment.yaml
  - service.yaml
  - serviceaccount.yaml
