ingresses:
  main:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: acme
      external-dns.alpha.kubernetes.io/target: "wojoinc.xyz."
      dns.homelab.wojoinc.xyz/publish-external: "true"
      dns.homelab.wojoinc.xyz/publish-internal: ""
      traefik.ingress.kubernetes.io/router.middlewares: media-qbittorrent-forward-auth-rd@kubernetescrd,media-qbittorrent-forward-auth@kubernetescrd
    className: traefik-external
    tls:
      - hosts:
          - "dl.wojoinc.xyz"
        secretName: "qbittorrent-cert"
    rules:
      - host: "dl.wojoinc.xyz"
        paths:
          - path: "/"
            pathType: Prefix
            backend:
              service:
                name: qbittorrent
                port:
                  number: 8080
pvcs:
  config:
    enabled: true
    size: 1Gi
    storageClass: "rook-rbd-fast"
deployments:
  main:
    volumes:
      config:
        type: pvc
      media:
        type: pvc
        name: media
    containers:
      main:
        resources:
          limits:
            cpu: "4"
            memory: 10Gi
          requests:
            cpu: 500m
            memory: 4Gi
        volumeMounts:
          config:
            path: "/config"
          media:
            path: "/media"
