---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: rook
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions:
    - 'missingkey=error'
  generators:
    - clusters:
        selector:
          matchLabels:
            argocd.argoproj.io/secret-type: cluster
        values:
          chartVersion: "~= 1.18"
          namespace: rook-ceph
  template:
    metadata:
      name: 'rook-{{.name | slugify}}'
      labels:
        app.kubernetes.io/component: argocd-application
        homelab.wojoinc.xyz/app-group: 'storage'
    spec:
      project: default
      sources:
        - repoURL: https://charts.rook.io/release
          targetRevision: '{{.values.chartVersion}}'
          chart: rook-ceph
          helm:
            valueFiles:
              - $values/argocd/app/rook/values.yaml
              - $values/argocd/clusters/{{.name}}/rook/values.yaml
            skipCrds: false
            ignoreMissingValueFiles: true
        - repoURL: 'https://github.com/somerandow/homelab'
          targetRevision: main
          ref: values
        - repoURL: 'https://github.com/somerandow/homelab'
          targetRevision: main
          path: argocd/app/rook/base
          kustomize:
            components:
              - ../../../clusters/{{.name}}/rook
      destination:
        server: '{{.server}}'
        namespace: '{{.values.namespace}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - ApplyOutOfSyncOnly=true
          - ServerSideApply=true
          - RespectIgnoreDifferences=true
      ignoreDifferences: []
