---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
patches:
  # TODO Add and patch ingress
  - target:
      kind: Ingress
    path: patch-ingress.yaml
  - target:
      kind: Deployment
    path: patch-deployment.yaml
resources:
  - middlewares.yaml
