---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: not-used
spec:
  template:
    spec:
      containers:
        - name: tubearchivist
          env:
            - name: TA_LOGIN_AUTH_MODE
              value: forwardauth
            - name: TA_AUTH_PROXY_USERNAME_HEADER
              value: X-Auth-Request-User