---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: headlamp
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions:
    - 'missingkey=error'
  generators:
    - clusters:
        selector:
          matchLabels:
            argocd.argoproj.io/secret-type: cluster
            scheduling.homelab.wojoinc.xyz/no-schedule: ""
        values:
          chartVersion: "0.32.1"
          namespace: headlamp
  template:
    metadata:
      name: 'headlamp-{{.name | slugify}}'
      labels:
        app.kubernetes.io/component: argocd-application
        homelab.wojoinc.xyz/app-group: 'monitoring'
    spec:
      project: default
      sources:
        - repoURL: https://kubernetes-sigs.github.io/headlamp/
          targetRevision: '{{.values.chartVersion}}'
          chart: headlamp
          helm:
            releaseName: headlamp
            valueFiles:
              - $values/argocd/app/headlamp/values.yaml
              - $values/argocd/clusters/{{.name}}/headlamp/values.yaml
            skipCrds: false
            ignoreMissingValueFiles: true
        - repoURL: 'https://github.com/somerandow/homelab'
          targetRevision: main
          ref: values
        - repoURL: 'https://github.com/somerandow/homelab'
          targetRevision: main
          path: argocd/app/headlamp/base
      destination:
        server: '{{ .server }}'
        namespace: '{{ .values.namespace }}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - ApplyOutOfSyncOnly=true
          - ServerSideApply=true
          - RespectIgnoreDifferences=true
      ignoreDifferences: []
