apiVersion: apps/v1
kind: Deployment
metadata:
  name: tubearchivist
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector: {}
  strategy:
    type: Recreate
  template:
    spec:
      hostUsers: false
      containers:
      - image: docker.io/bbilly1/tubearchivist:v0.5.9
        imagePullPolicy: IfNotPresent
        name: tubearchivist
        env:
          - name: ES_URL
            value: https://tubearchivist-es-http:9200
          - name: ES_DISABLE_VERIFY_SSL
            value: "true"
          - name: TA_HOST
            value: https://yt.wojoinc.xyz
          - name: TA_PORT
            value: "8000"
          - name: TZ
            value: America/Chicago
        envFrom:
          - secretRef:
              name: tubearchivist-redis
              optional: false
          - secretRef:
              name: tubearchivist-es
              optional: false
          - secretRef:
              name: tubearchivist-admin
              optional: false
        volumeMounts:
          - mountPath: /cache
            name: cache
          - mountPath: /youtube
            name: media
            subPath: youtube
        ports:
        - containerPort: 8000
          protocol: TCP
        resources: {}
        securityContext:
#          allowPrivilegeEscalation: false
          capabilities:
            add:
              - CAP_NET_BIND_SERVICE
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      securityContext:
        seccompProfile:
          type: RuntimeDefault
        runAsUser: 0
        runAsGroup: 33
        runAsNonRoot: false
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
      terminationGracePeriodSeconds: 30
