---
apiVersion: v1
kind: Service
metadata:
  name: flaresolverr
  labels: {}
  annotations: {}
spec:
  type: ClusterIP
  ports:
    - port: 8191
      targetPort: http
      protocol: TCP
      name: http
  selector: {}
