---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
patches:
  - patch: |-
      apiVersion: elasticsearch.k8s.elastic.co/v1
      kind: Elasticsearch
      metadata:
        name: not-used
      spec:
        nodeSets:
          - name: default
            volumeClaimTemplates:
              - metadata:
                  name: elasticsearch-data
                spec:
                  storageClassName: rook-rbd-fast