---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: qbittorrent
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions:
    - 'missingkey=error'
  generators:
    - clusters:
        selector:
          matchLabels:
            argocd.argoproj.io/secret-type: cluster
            # TODO: Remove this once ready to deploy qbt
#            qbitorrent/enabled: ""
        values:
          chartVersion: "2.1.0"
          namespace: media
  template:
    metadata:
      name: 'qbittorrent-{{.name | slugify}}'
      labels:
        app.kubernetes.io/component: argocd-application
        homelab.wojoinc.xyz/app-group: 'media'
    spec:
      project: default
      sources:
        - repoURL: ghcr.io/somerandow/charts
          targetRevision: '{{.values.chartVersion}}'
          chart: qbittorrent
          helm:
            releaseName: qbittorrent
            valueFiles:
              - $values/argocd/app/qbittorrent/values.yaml
              - $values/argocd/clusters/{{.name}}/qbittorrent/values.yaml
            ignoreMissingValueFiles: true
        - repoURL: 'https://github.com/somerandow/homelab'
          targetRevision: main
          ref: values
      destination:
        server: '{{ .server }}'
        namespace: '{{ .values.namespace }}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - ApplyOutOfSyncOnly=true
          - ServerSideApply=true
          - RespectIgnoreDifferences=true
      ignoreDifferences: []
