---
apiVersion: v1
kind: ConfigMap
metadata:
  name: generic-device-plugin-config
data:
  config.yaml: |-
    domain: "devices.wojoinc.xyz"
    device:
      - name: tpm
        groups:
          - paths:
              - path: /dev/tpmrm*
        count: 2
      - name: igpu
        groups:
          - paths:
              - path: /dev/dri/renderD128
              - path: /dev/dri/card0
        count: 1
      - name: zbmatter
        groups:
          - paths:
              - path: /dev/ttyACM*
        count: 1
