---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: eck-operator
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions:
    - 'missingkey=error'
  generators:
    - clusters:
        selector:
          matchLabels:
            argocd.argoproj.io/secret-type: cluster
        values:
          namespace: elastic-system
          targetRevision: "3.2.0"
  template:
    metadata:
      name: 'eck-operator-{{.name | slugify}}'
      labels:
        app.kubernetes.io/component: argocd-application
        homelab.wojoinc.xyz/app-group: 'infra'
    spec:
      project: default
      sources:
        - repoURL: 'https://helm.elastic.co'
          targetRevision: '{{.values.targetRevision}}'
          chart: eck-operator
          helm:
            releaseName: eck-operator
            ignoreMissingValueFiles: true
            skipCrds: false
            valueFiles:
              - $values/argocd/app/eck-operator/values.yaml
              - $values/argocd/env/{{index .metadata.labels "cluster-environment"}}/eck-operator/values.yaml
              - $values/argocd/clusters/{{.name}}/eck-operator/values.yaml
        - repoURL: 'https://github.com/somerandow/homelab'
          targetRevision: 'main'
          ref: values
      destination:
        server: '{{ .server }}'
        namespace: '{{ .values.namespace }}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - ApplyOutOfSyncOnly=true
          - ServerSideApply=true
          - RespectIgnoreDifferences=true
      ignoreDifferences: []
