---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: omada-controller
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions:
    - 'missingkey=error'
  generators:
    - clusters:
        selector:
          matchLabels:
            argocd.argoproj.io/secret-type: cluster
        values:
          # renovate: datasource=docker depName=ghcr.io/somerandow/charts/omada-controller
          targetRevision: "0.1.3"
          namespace: omada
  template:
    metadata:
      name: 'omada-controller-{{.name | slugify}}'
      labels:
        app.kubernetes.io/component: argocd-application
        homelab.wojoinc.xyz/app-group: 'media'
    spec:
      project: default
      sources:
        - repoURL: ghcr.io/somerandow/charts
          targetRevision: '{{.values.targetRevision}}'
          chart: omada-controller
          helm:
            releaseName: omada-controller
            valueFiles:
              - $values/argocd/app/omada-controller/values.yaml
              - $values/argocd/env/{{index .metadata.labels "cluster-environment"}}/omada-controller/values.yaml
              - $values/argocd/clusters/{{.name}}/omada-controller/values.yaml
            skipCrds: false
            ignoreMissingValueFiles: true
        - repoURL: 'https://github.com/somerandow/homelab'
          targetRevision: main
          ref: values
      destination:
        server: '{{ .server }}'
        namespace: '{{ .values.namespace }}'
      syncPolicy:
        automated:
          prune: false
          selfHeal: false
        syncOptions:
          - CreateNamespace=true
          - ApplyOutOfSyncOnly=true
          - ServerSideApply=true
          - RespectIgnoreDifferences=true
      ignoreDifferences: []
