---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: cert-manager
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions:
    - 'missingkey=error'
  generators:
    - clusters:
        selector:
          matchLabels:
            argocd.argoproj.io/secret-type: cluster
        values:
          # renovate: datasource=github depName=github.com/cert-manager/cert-manager
          chartVersion: "1.17.2"
          namespace: cert-manager
  template:
    metadata:
      name: 'cert-manager-{{.name | slugify}}'
      labels:
        app.kubernetes.io/component: argocd-application
        homelab.wojoinc.xyz/app-group: 'infra'
    spec:
      project: default
      sources:
        - repoURL: https://charts.jetstack.io
          targetRevision: '{{ .values.chartVersion }}'
          chart: cert-manager
          helm:
            releaseName: cert-manager
            valueFiles:
              - $values/argocd/app/cert-manager/values.yaml
              - '$values/argocd/clusters/{{ index .metadata.labels "cluster-name"}}/cert-manager/values.yaml'
            skipCrds: false
            ignoreMissingValueFiles: true
        - repoURL: 'https://github.com/somerandow/homelab'
          targetRevision: main
          ref: values
        - repoURL: 'https://github.com/somerandow/homelab'
          targetRevision: main
          path: argocd/app/cert-manager/resources
          kustomize:
            components:
              - ../../../env/{{index .metadata.labels "cluster-environment"}}/cert-manager
              - ../../../clusters/{{index .metadata.labels "cluster-name"}}/cert-manager
            ignoreMissingComponents: false
      destination:
        server: '{{.server}}'
        namespace: '{{.values.namespace}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - ApplyOutOfSyncOnly=true
          - ServerSideApply=true
          - RespectIgnoreDifferences=true
      ignoreDifferences: []
