---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
components:
  - ../../../app/prometheus/components/persistence
  - ../../../env/prod/ingress-tls
  - ../../../common/ingress-publish-external
patches:
  - target:
      kind: Prometheus
    patch: |-
      - op: replace
        path: /spec/externalUrl
        value: https://prom.wojoinc.xyz
      - op: replace
        path: /spec/storage/volumeClaimTemplate/spec/resources/requests/storage
        value: 20Gi
      - op: add
        path: /spec/storage/volumeClaimTemplate/spec/storageClassName
        value: rook-rbd-fast
      - op: replace
        path: /spec/retentionSize
        value: "19GB"
  - target:
      kind: Ingress
      name: prometheus
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: prom.wojoinc.xyz
      - op: add
        path: /spec/tls/0/hosts/0
        value: prom.wojoinc.xyz
