image:
  tag: 0.20.0
env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-token
        key: token
txtOwnerId: "homelab-wojoinc-xyz"
txtPrefix: "external-dns-"
extraArgs:
  - "--zone-id-filter=35a698f03fa71685a016e2965c5794d6"
  - "--annotation-filter=dns.homelab.wojoinc.xyz/publish-external"
  - "--cloudflare-proxied"
